appdirs
comtypes
icalendar
numpy
Pillow
pycryptodome
XlsxWriter
pyttsx3
pytz
reportlab
Twisted
xlrd
python-dateutil
psutil
paramiko
lxml
setuptools
matplotlib
opencv-python
sqlalchemy
pystrich
mysqlclient; platform_system != "Windows"
mysql-connector-python
