appdirs
chardet
comtypes
cryptography
feedparser
icalendar
lxml
mailjet-rest
matplotlib
mysqlclient
mysql-connector-python
numpy
opencv-python
paramiko
Pillow
psutil
pycryptodome
pyserial
pyscard
pystrich
pyttsx3
pytz
pywin32; platform_system == "Windows"
python-dateutil
reportlab
requests
setuptools
six
sqlalchemy
Twisted
unicodecsv
xlrd
XlsxWriter
